<div *ngIf="companyId" class="content-container">
    
    <div class="company-details">
        <div class="company-info">
            <h2>
                <ng-container *ngIf="!editMode; else editName">
                    {{ company?.name }}
                  </ng-container>
                  <ng-template #editName>
                    <input type="text" *ngIf="company" [(ngModel)]="company.name" />

                  </ng-template>

                <button style="background-color:  #007bff;" (click)="toggleEditMode()">
                    <i class="fas fa-edit"></i> 
                  </button>
               
            </h2>
        
            <p>
                <ng-container *ngIf="!editMode; else editRating">
                    <b>Average Rate:</b> {{ company?.averageRate }}
                </ng-container>
                <ng-template #editRating>
                    <input type="number" *ngIf="company" [(ngModel)]="company.averageRate" />
                </ng-template>
            </p>
            
            <p>
                <ng-container *ngIf="!editMode; else editDescription">
                    <b>Description:</b> {{ company?.description }}
                </ng-container>
                <ng-template #editDescription>
                    <input type="text" *ngIf="company" [(ngModel)]="company.description" />
                </ng-template>
            </p>
            <p><b>Location:</b> {{ company?.location?.street }} {{ company?.location?.streetNumber }}, {{ company?.location?.city }}, {{ company?.location?.country }}</p>
            <button  *ngIf="editMode" (click)="saveChanges()">
                <i class="fas fa-save"></i> Save
            </button>
            
        </div>
        <div class="map-container">
            <app-company-map
            [companyLocation]="company?.location"
            [editable] = "editMode"
            *ngIf="company?.location"
            (locationUpdated)="onLocationUpdated($event)">
        </app-company-map>
          
        </div>
    </div>
    
  
  
    <div>
        <h3><b>Equipment:</b></h3>
        <table mat-table [dataSource]="companyEquipmentDataSource">
            <!-- Define columns for Equipment -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let equipment"> {{ equipment.name }} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let equipment"> {{ equipment.description }} </td>
            </ng-container>

            <!-- Set column definitions -->
            <tr mat-header-row *matHeaderRowDef="['name', 'description']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['name', 'description']"></tr>
        </table>
    </div>

    
    <div *ngIf = "editMode">
        <h3><b>Company Admins:</b></h3>
        <table mat-table [dataSource]="companyAdminsDataSource">
            <!-- Define columns for Company Admins -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let admin"> {{ admin.email }} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let admin"> {{ admin.firstName }} </td>
            </ng-container>
            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Lastname </th>
                <td mat-cell *matCellDef="let admin"> {{ admin.lastName }} </td>
            </ng-container>
    
            <!-- Set column definitions -->
            <tr mat-header-row *matHeaderRowDef="[ 'email', 'name', 'lastname']"></tr>
            <tr mat-row *matRowDef="let row; columns: [ 'email', 'name', 'lastname']"></tr>
        </table>
    </div>
    
    
    <div> 
        <full-calendar [options]="calendarOptions" class = "full-calendar"
        
        ></full-calendar>
    </div>
  
</div>

