
  
label {
  display: block;
  margin-top: 2px;
}

.primary {
  background-color: #007bff;
  /* Replace with your desired primary color */
  color: #fff;
  /* Text color */
  border: none;
  padding: 10px 20px;
  /* Adjust padding as needed */
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.content-container {
  margin-left: 20px; /* Adjust the value to your preference */
  margin-top: 20px; 
}


.company-details {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}

.company-info {
  flex: 1; /* Make this div grow to fill remaining space */
  margin-right: 20px; /* Adjust as needed for spacing */
}

.map-container {
  flex: 1; /* Make this div grow to fill remaining space */
}

button{
  background-color: #007bff;
  color: #fff;
}


.full-calendar {
  width: 100%; /* Adjust as needed */
  height: 600px; /* Adjust as needed */
}


