<nav>
    <ul>
      <!--Non registered users-->
      <li><a href="/">Home</a></li>
      <li *ngIf="!currentUser?.role"><a href="/login">Login</a></li>
      <li *ngIf="!currentUser?.role"><a href="/register">Register</a></li>

      <!--Registered users-->
      <li *ngIf="currentUser?.role" (click)="onLogout()"><a href="/">Logout</a></li>
      <li *ngIf="currentUser?.role"><a href="/equipmentSearch">Search equipment</a></li>
      

      <!--System admins-->
      <li *ngIf="currentUser && currentUser.role?.name === 'ROLE_SYSADMIN'"><a href="/companyCreation">Create company</a></li>
      <li *ngIf="currentUser && currentUser.role?.name === 'ROLE_SYSADMIN'"><a href="/companyadminCreation">Create Company Admin</a></li>
      <li *ngIf="currentUser && currentUser.role?.name === 'ROLE_SYSADMIN' && isMainAdmin"><a href="/systemAdminCreation">Create System Admin</a></li>
      <li *ngIf="currentUser && currentUser.role?.name === 'ROLE_SYSADMIN' && !isInitPasswordChanged"><a href="/systemAdminChangePassword">Change password</a></li>

      <!--Company admins-->
      <li *ngIf="currentUser && currentUser.role?.name === 'ROLE_COMPADMIN'"><a href="/company-work-calendar">Company's work calendar</a></li>
      <li *ngIf="currentUser && currentUser.role?.name === 'ROLE_COMPADMIN'"><a href="/contracts">Contracts</a></li>
      <!--Clients-->
      <li *ngIf="currentUser && currentUser.role?.name === 'ROLE_CLIENT'"><a href="/profile">Profile</a></li>
      <li *ngIf="currentUser && currentUser.role?.name === 'ROLE_CLIENT'"><a href="/reservations">Reservations</a></li>


    </ul>
</nav>



