.equipment-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.equipment-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.equipment-card h3 {
  margin-bottom: 5px;
  color: #7149b1;
  font-weight: bold;
}

.equipment-card p {
  margin: 0;
  color: #3d3b3b;
}

.sort-container {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sort {
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.take-reservation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.take-reservation-message {
  font-size: 18px;
  margin-bottom: 20px;
}

.upload-container {
  margin-bottom: 20px;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #7638bd;
  border-radius: 5px;
  color: #7a37b1;
  background-color: white;
  text-align: center;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.take-reservation-button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #7638bd;
  color: white;
  border: none;
  border-radius: 5px;
}

.take-reservation-button:hover {
  background-color: #7638bd;
}
