<mat-tab-group mat-vertical>
    <mat-tab label="TAKEN">
        <div class="sort-container">
            <label for="sort">Sort by:</label>
                          <select id="sort" class="sort" [(ngModel)]="sortType" (change)="onSortChange()">
                              <option value="DATE" selected>DATE</option>
                              <option value="PRICE">PRICE</option>
                              <option value="DURATION">DURATION</option>
                          </select>
                          <select id="order" class="sort" [(ngModel)]="orderType" (change)="onSortChange()">
                            <option value="DESC" selected>DESC</option>
                            <option value="ASC">ASC</option>
                        </select>
          </div>
        <table>
            <tbody>
                <tr *ngFor="let reservation of takenReservations">
                    <td *ngFor="let item of reservation.reservationItems">
                        <div class="equipment-card">
                            <h3>{{ item.equipment.name }}</h3>
                            <p>Type: {{ item.equipment.type }}</p>
                            <p>Price: {{ item.equipment.price }}</p>
                            <p>Description: {{ item.equipment.description }}</p>
                            <p>Reserved count: {{ item.count }}</p>
                            <p>Total price: {{ item.price }}</p>
                        </div>
                    </td>
                    <td>
                        <div class="equipment-card">
                            <p>Date: {{ formatDate(reservation.appointment.date)  }}</p>
                            <p>Starte time: {{ formatTime(reservation.appointment.startTime)  }}</p>
                            <p>End time: {{ formatTime(reservation.appointment.endTime)  }}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-tab>
  
    <mat-tab label="RESERVED">
        <table>
            <tbody>
                <tr *ngFor="let reservation of reservedReservations">
                    <td *ngFor="let item of reservation.reservationItems">
                        <div class="equipment-card">
                            <h3>{{ item.equipment.name }}</h3>
                            <p>Type: {{ item.equipment.type }}</p>
                            <p>Price: {{ item.equipment.price }}</p>
                            <p>Description: {{ item.equipment.description }}</p>
                            <p>Reserved count: {{ item.count }}</p>
                            <p>Total price: {{ item.price }}</p>
                        </div>
                    </td>
                    <td>
                        <div class="equipment-card">
                            <p>Date: {{ formatDate(reservation.appointment.date)  }}</p>
                            <p>Starte time: {{ formatTime(reservation.appointment.startTime)  }}</p>
                            <p>End time: {{ formatTime(reservation.appointment.endTime)  }}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-tab>
  
    <mat-tab label="QR CODE">
        <div class="sort-container">
            <label for="sort">Filter by:</label>
                          <select id="sort" class="sort" [(ngModel)]="filterType" (change)="onFilterChange()">
                              <option value="ANY" selected>ANY</option>
                              <option value="TAKEN">TAKEN</option>
                              <option value="CANCELLED">CANCELLED</option>
                              <option value="RESERVED">RESERVED</option>
                              <option value="EXPIRED">EXPIRED</option>
                          </select>
          </div>
        <div *ngFor="let qrCode of filteredQrCodes">
            <img [src]="getQRCodeDataURL(qrCode)" alt="QR Code">
          </div>
    </mat-tab>

    <mat-tab label="TAKE RESERVATION">
        <div class="sort-container">
            <input type="file" accept="image/*" (change)="onFileChange($event)">
            <button *ngIf="uploadedReservationId" (click)="takeReservation()">Take Reservation</button>
        </div>
        <!--div class="sort-container">
            <label for="sort">Filter by:</label>
                          <select id="sort" class="sort" [(ngModel)]="filterType" (change)="onFilterChange()">
                              <option value="ANY" selected>ANY</option>
                              <option value="TAKEN">TAKEN</option>
                              <option value="CANCELLED">CANCELLED</option>
                              <option value="RESERVED">RESERVED</option>
                              <option value="EXPIRED">EXPIRED</option>
                          </select>
          </div>
        <div *ngFor="let qrCode of filteredQrCodes">
            <img [src]="getQRCodeDataURL(qrCode)" alt="QR Code">
        </div-->
    </mat-tab>

  </mat-tab-group>