<div>
    <div class="center">
        <div class="profile-table">

            <h1>My profile</h1>
            <table *ngIf="user && !updateMode && !updatePasswordMode" class="profile-table">

                <tr>
                    <td><label>Email:</label></td>
                    <td class="info">{{user.email}}</td>
                </tr>
                <tr>
                    <td><label>First name:</label></td>
                    <td class="info">{{user.firstName}}</td>
                </tr>
                <tr>
                    <td><label>Last name:</label></td>
                    <td class="info">{{user.lastName}}</td>
                </tr>
                <tr>
                    <td><label>City:</label></td>
                    <td class="info">{{user.city}}</td>
                </tr>
                <tr>
                    <td><label>Country:</label></td>
                    <td class="info">{{user.country}}</td>
                </tr>
                <tr>
                    <td><label>Phone number:</label></td>
                    <td class="info">{{user.phoneNumber}}</td>
                </tr>
                <tr>
                    <td><label>Job title:</label></td>
                    <td class="info">{{user.jobTitle}}</td>
                </tr>
                <tr>
                    <td><label>Hospital information:</label></td>
                    <td class="info">{{user.hospitalInfo}}</td>
                </tr>
                <tr>
                    <td><label>Penalty points:</label></td>
                    <td class="info">{{user.penaltyPoints}}</td>
                </tr>
                <tr>
                    <td><label>Points:</label></td>
                    <td class="info">{{user.points}}</td>
                </tr>
                <tr>
                    <td><label>Loyalty Type:</label></td>
                    <td class="info">{{user.loyaltyType}}</td>
                </tr>
                <tr>
                    <td><label>Discount:</label></td>
                    <td class="info">{{user.discount}}</td>
                </tr>
                <tr>
                    <td><button class="primary" type="button" (click)="showUpdateForm()" *ngIf="!updateMode && !updatePasswordMode">Change info</button></td>
                    <td><button class="primary" type="button" (click)="showPasswordForm()" *ngIf="!updateMode && !updatePasswordMode">Change password</button></td>
                </tr>
            </table>
            <form *ngIf="updateMode" [formGroup]="userForm" (ngSubmit)="update()" class="custom-form">
                <table class="form-table">
                    <tr>
                        <td><label>First name: </label></td>
                        <td><input type="text" formControlName="firstName" /></td>
                    </tr>

                    <tr>
                        <td><label>Last name: </label></td>
                        <td><input type="text" formControlName="lastName" /></td>
                    </tr>

                    <tr>
                        <td><label>City: </label></td>
                        <td><input type="text" formControlName="city" /></td>
                    </tr>

                    <tr>
                        <td><label>Country: </label></td>
                        <td><input type="text" formControlName="country" /></td>
                    </tr>

                    <tr>
                        <td><label>Phone number: </label></td>
                        <td><input type="text" formControlName="phoneNumber" /></td>
                    </tr>

                    <tr>
                        <td><label>Job title: </label></td>
                        <td><input type="text" formControlName="jobTitle" /></td>
                    </tr>
                    <tr>
                        <td><label>Hospital information: </label></td>
                        <td><input type="text" formControlName="hospitalInfo"/></td>
                    </tr>
                    <tr>
                        <td><button class="primary" type="button" (click)="update()">Update</button></td>
                        <td><button class="primary" type="button" (click)="cancelUpdate()" *ngIf="updateMode">Cancel</button></td>
                    </tr>
                </table>
            </form>
            <form *ngIf="updatePasswordMode" [formGroup]="passwordForm" (ngSubmit)="update()" class="custom-form">
                <table class="form-table">
                    <tr>
                        <td><label>Old Password: </label></td>
                        <td><input type="text" formControlName="oldPassword" /></td>
                    </tr>
                    <tr>
                        <td><label>New Password: </label></td>
                        <td><input type="text" formControlName="newPassword" /></td>
                    </tr>
                    <tr>
                        <td><label>New Password check: </label></td>
                        <td><input type="text" formControlName="passwordCheck" /></td>
                    </tr>
                    <tr>
                        <td><button class="primary" type="button" (click)="updatePassword()">Update</button></td>
                        <td><button class="primary" type="button" (click)="cancelUpdate()">Cancel</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>