<div>
    <div class="center">
        <div class="profile-table">

            <h1>My profile</h1>
            <table *ngIf="user">

                <tr>
                    <td><label>Email:</label></td>
                    <td class="info">{{user.email}}</td>
                </tr>
                <tr>
                    <td><label>Password:</label></td>
                    <td class="info">{{user.password}}</td>
                </tr>
                <tr>
                    <td><label>First name:</label></td>
                    <td class="info">{{user.firstName}}</td>
                </tr>
                <tr>
                    <td><label>Last name:</label></td>
                    <td class="info">{{user.lastName}}</td>
                </tr>
                <tr>
                    <td><label>City:</label></td>
                    <td class="info">{{user.city}}</td>
                </tr>
                <tr>
                    <td><label>Country:</label></td>
                    <td class="info">{{user.country}}</td>
                </tr>
                <tr>
                    <td><label>Phone number:</label></td>
                    <td class="info">{{user.phoneNumber}}</td>
                </tr>
                <tr>
                    <td><label>Job title:</label></td>
                    <td class="info">{{user.jobTitle}}</td>
                </tr>
                <tr>
                    <td><label>Company information:</label></td>
                    <td class="info">{{user.companyInformation}}</td>
                </tr>
                <tr>
                    <td><label>Loyalty type:</label></td>
                    <td class="info">{{user.loyaltyType}}</td>
                </tr>
                <tr>
                    <td><label>Penal points:</label></td>
                    <td class="info">{{user.penalPoints}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="center">
        <form [formGroup]="userForm" (ngSubmit)="update()" class="custom-form">
            <table class="form-table">
                <tr>
                    <td><label>Password: </label></td>
                    <td><input type="text" formControlName="password" /></td>
                </tr>

                <tr>
                    <td><label>Password check: </label></td>
                    <td><input type="text" formControlName="passwordCheck" /></td>
                </tr>

                <tr>
                    <td><label>First name: </label></td>
                    <td><input type="text" formControlName="firstName" /></td>
                </tr>

                <tr>
                    <td><label>Last name: </label></td>
                    <td><input type="text" formControlName="lastName" /></td>
                </tr>

                <tr>
                    <td><label>City: </label></td>
                    <td><input type="text" formControlName="city" /></td>
                </tr>

                <tr>
                    <td><label>Country: </label></td>
                    <td><input type="text" formControlName="country" /></td>
                </tr>

                <tr>
                    <td><label>Phone number: </label></td>
                    <td><input type="text" formControlName="phoneNumber" /></td>
                </tr>

                <tr>
                    <td><label>Job title: </label></td>
                    <td><input type="text" formControlName="jobTitle" /></td>
                </tr>
                <tr><input type="submit" /></tr>
            </table>
        </form>
    </div>
</div>