.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.custom-form {
    max-width: 400px;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #3498db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }

  .custom-form h1 {
    text-align: center;
    color:  #3498db;
  }

  .form-table input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .form-table input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .form-table input[type="submit"]:hover {
    background-color: #2980b9;
  }


