.fc-custom-event {
  max-width: 200px;
  background-color: #68b9e8;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 4px;
}

.fc-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.fc-details {
  font-size: 14px;
}

.fc-custom-event .fc-details p {
  margin: 0;
}

.fc-custom-event .fc-details strong {
  display: inline-block;
  width: 70px;
}

.fc-custom-event .fc-details p:last-child {
  margin-bottom: 0;
}

.fc-day-grid-event.green-event,
.fc-time-grid-event.green-event {
  width: 150%;
}
