.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-table{
    max-width: 800px;
    background-color: #fff;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #3498db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }

  .profile-table label{
    width: 100%;
    flex: content;
    display: inline-block;
  }

  .profile-table h1{
    text-align: center;
    color:  #3498db;
  }

  .info {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 5px;
    min-width: 100px;
    display: inline-block;
    margin-bottom: 5px
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.custom-form {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #3498db;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-form h1 {
    text-align: center;
    color:  #3498db;
  }

  .form-table input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #3498db;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .primary {
    background-color: #007bff;
    /* Replace with your desired primary color */
    color: #fff;
    /* Text color */
    border: none;
    padding: 10px 20px;
    /* Adjust padding as needed */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
 
  
  .custom-form label {
    margin-bottom: 8px;
  }
  
  .form-buttons {
    margin-top: 16px;
   
  }
  

