<mat-tab-group mat-vertical>
  
    <mat-tab label="ALL">
        <div class="sort-container">
            <label for="sort">Filter by:</label>
                          <select id="sort" class="sort" [(ngModel)]="filterType" (change)="onFilterChange()">
                              <option value="ANY" selected>ANY</option>
                              <option value="TAKING_REQUESTED">TAKING REQUESTED</option>
                              <option value="TAKEN">TAKEN</option>
                              <option value="CANCELLED">CANCELLED</option>
                              <option value="RESERVED">RESERVED</option>
                              <option value="EXPIRED">EXPIRED</option>
                          </select>
        </div>
        <table>
            <tbody>
                <tr *ngFor="let reservation of filteredReservations">
                    <p>Status: {{ reservation.status  }}</p>
                    <td *ngFor="let item of reservation.reservationItems">
                        <div class="equipment-card">
                            <h3>{{ item.equipment.name }}</h3>
                            <p>Type: {{ item.equipment.type }}</p>
                            <p>Price: {{ item.equipment.price }}</p>
                            <p>Description: {{ item.equipment.description }}</p>
                            <p>Reserved count: {{ item.count }}</p>
                            <p>Total price: {{ item.price }}</p>
                        </div>
                    </td>
                    <td>
                        <div class="equipment-card">
                            <p>Date: {{ formatDate(reservation.appointment.date)  }}</p>
                            <p>Starte time: {{ formatTime(reservation.appointment.startTime)  }}</p>
                            <p>End time: {{ formatTime(reservation.appointment.endTime)  }}</p>
                        </div>
                    </td>
                    <button class="take-reservation-button" *ngIf="reservation.status === 'TAKING_REQUESTED'" class="primary" type="button" (click)="giveReservation(reservation)">Give reserved equipment</button>
                </tr>
            </tbody>
        </table>
    </mat-tab>
  
    <!--mat-tab label="TAKEN">     bolje napravi sort
        <table>
            <tbody>
                <tr *ngFor="let reservation of takenReservations">
                    <td *ngFor="let item of reservation.reservationItems">
                        <div class="equipment-card">
                            <h3>{{ item.equipment.name }}</h3>
                            <p>Type: {{ item.equipment.type }}</p>
                            <p>Price: {{ item.equipment.price }}</p>
                            <p>Description: {{ item.equipment.description }}</p>
                            <p>Reserved count: {{ item.count }}</p>
                            <p>Total price: {{ item.price }}</p>
                        </div>
                    </td>
                    <td>
                        <div class="equipment-card">
                            <p>Date: {{ formatDate(reservation.appointment.date)  }}</p>
                            <p>Starte time: {{ formatTime(reservation.appointment.startTime)  }}</p>
                            <p>End time: {{ formatTime(reservation.appointment.endTime)  }}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-tab-->
   

      

  </mat-tab-group>