.company-container {
  display: flex;
  justify-content: space-around;
  /* Adjust as needed */
  flex-wrap: wrap;
}

.company-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-card h3 {
  margin-bottom: 5px;
}

.company-card p {
  margin: 0;
}

.search-container {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  width: 150px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mat-slider {
  width: 200px;
  margin-left: 10px;
}

label {
  display: block;
  margin-top: 2px;
}

.primary {
  background-color: #007bff;
  /* Replace with your desired primary color */
  color: #fff;
  /* Text color */
  border: none;
  padding: 10px 20px;
  /* Adjust padding as needed */
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}